
.site-name {
  color: #201d1d; /* Set text color */
  font-size: 1rem; /* Set font size */
  text-align: center; /* Center the text */
  margin-bottom: 17px;
  width: 100%;
 
}

.navbar {
    background-color: #3498db; 
    padding: 15px 0; 
    margin-top: 0;
  }

  
  
 
  .navbar-brand {
    color: #fff; 
    font-size: 1.5rem; 
  }
  

  .navbar-toggler-icon {
    background-color: #fff; 
  }
  
  .navbar-nav {
    margin-left: 10px; 
  }
  
  
  .navbar-nav .nav-item {
    margin-right: 55px; 
  }
  
  .nav-link {
    color: #3e2f2f; 
    font-weight: bold; 
    transition: color 0.3s;
  }
  
  .nav-link:hover {
    color: #f39c12; 
  }
  .navbar-light .navbar-toggler-icon {
    background-color: #fff;
  }

  .nav-item.dropdown:hover .dropdown-menu {
    display: block; 
  }
  
  .dropdown-menu {
    background-color: #2980b9; 
    border: none; 
  }
  
  .dropdown-item {
    color: #fff; 
  }
  
  .dropdown-item:hover {
    background-color: #1a5276; 
  }
  
 
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
  }
 
  body {
    margin-top: 50px; 
  }
  .custom-header-bg {
    background-color:rgb(199, 193, 193); 
  }
  