.App {
  text-align: center;
  background-color: #0F1111;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  .dropdown-menu {
    background-color: #2980b9; /* Set dropdown background color */
    border: none; /* Remove dropdown border */
  }}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
